<html>
    <head>
        <title>Glue App</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <nav>
            <div class="top">Glue</div>
            <ul>
               <li id="currentli"><svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5621 19.0835V12.3682H12.8432V19.0835H18.1945V10.1297H21.4053L10.7026 0.0566406L0 10.1297H3.21079V19.0835H8.5621Z" fill="white"/>
                </svg>
                <a href="#" id="currenta">Home</a></li> 
               <li><svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.9459 0.374653L-6.06442e-07 6.32056L-8.66346e-08 18.2124C-3.89856e-08 19.3025 0.891886 20.1943 1.98197 20.1943L13.8837 20.1943C14.9738 20.1943 15.8557 19.3024 15.8557 18.2124L15.8458 2.35662C15.8458 1.26654 14.9639 0.374652 13.8738 0.374652L5.9459 0.374653ZM1.48648 7.31154L6.93689 1.86113L6.93689 7.31154L1.48648 7.31154Z" fill="#959595"/>
                </svg><a href="#">
                Notebooks</a></li> 
               <li><svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.2977 13.17C20.3421 12.795 20.3716 12.405 20.3716 12C20.3716 11.595 20.3421 11.205 20.2829 10.83L22.7818 8.85C23.0036 8.67 23.0627 8.34 22.9296 8.085L20.5639 3.93C20.416 3.66 20.1055 3.57 19.8393 3.66L16.8969 4.86C16.2759 4.38 15.6253 3.99 14.9008 3.69L14.4572 0.51C14.4129 0.21 14.1615 0 13.8658 0H9.13423C8.83851 0 8.60193 0.21 8.55758 0.51L8.11399 3.69C7.38948 3.99 6.7241 4.395 6.11787 4.86L3.17545 3.66C2.9093 3.555 2.59879 3.66 2.45093 3.93L0.0851608 8.085C-0.0626998 8.355 -0.00355532 8.67 0.233022 8.85L2.73187 10.83C2.67272 11.205 2.62836 11.61 2.62836 12C2.62836 12.39 2.65794 12.795 2.71708 13.17L0.218235 15.15C-0.00355568 15.33 -0.0626998 15.66 0.0703748 15.915L2.43614 20.07C2.58401 20.34 2.89451 20.43 3.16066 20.34L6.10309 19.14C6.7241 19.62 7.37469 20.01 8.09921 20.31L8.54279 23.49C8.60193 23.79 8.83851 24 9.13423 24H13.8658C14.1615 24 14.4129 23.79 14.4424 23.49L14.886 20.31C15.6105 20.01 16.2759 19.605 16.8821 19.14L19.8246 20.34C20.0907 20.445 20.4012 20.34 20.5491 20.07L22.9148 15.915C23.0627 15.645 23.0036 15.33 22.767 15.15L20.2977 13.17ZM11.5 16.5C9.0603 16.5 7.06418 14.475 7.06418 12C7.06418 9.525 9.0603 7.5 11.5 7.5C13.9397 7.5 15.9358 9.525 15.9358 12C15.9358 14.475 13.9397 16.5 11.5 16.5Z" fill="#959595"/>
                </svg>
                <a href="#">Settings</a></li> 
            </ul>
            <div class="bottom"></div>
        </nav>
        <div>

        </div>
    </body>
</html>