<html>
    <head>
        <title>Glu app</title>
    </head>
    <body>
        
        <form method="POST">
            email : <input type="email" name="email" required>
            password: <input type="password" name="password" required>
            <input type="submit">
        </form>


        <script src="/socket.io/socket.io.js"></script>
        
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>